.navigation {
    display: flex;
}

.navigation__element {
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    margin: 30px 42px 0 auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.navigation__element_dark {
    color: #1A1B22;
}

.navigation__element_active {
    cursor: default;
    border-bottom: #FFFFFF 3px solid;
}

.navigation__element_active_dark {
    border-bottom: #1A1B22 3px solid;
}

.navigation__auth_button {
    margin: auto;
    margin-right: 104px;
    padding: 8px 12px;
    cursor: pointer;
    background: none;
    color: white;
    min-width: 176px;
    min-height: 48px;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.navigation__auth_button_dark {
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 112px;
    color: #1A1B22;
    border: 1px solid #1A1B22;
}

@media screen and (max-width: 768px) {
    .navigation__auth_button {
        margin-right: 40px;
        min-width: 152px;
        min-height: 40px;
        font-size: 16px;
    }

    .navigation__element {
        margin: 20px 16px 0 auto;
        font-size: 16px;
    }

    .navigation__auth_button_dark {
        min-width: 100px;
    }
}