.modal__input-error {
    max-width: 360px;
    position: absolute;
    margin-top: 2px;
}

.modal__input-error p {
    font-family: 'Inter', Trebuchet MS, sans-serif;
    color: red;
    margin: 0;
    font-size: 10px;
}