.header {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    z-index: 2;
    width: 100%;
    max-width: 1440px;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

.header__title {
    margin: auto;
    margin-left: 104px;
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.header__toggler {
    max-width: 24px;
    min-height: 24px;
    margin-right: 16px;
}

@media screen and (max-width: 1280px) {
    .header {
        max-width: 768px;
        min-height: 66px;
    }

    .header__title {
        margin-left: 40px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        min-height: 56px;
    }

    .header__title {
        font-size: 16px;
        margin-left: 16px;
    }
}
