.footer {
    max-width: 1440px;
    padding: 0 104px;
    box-sizing: border-box;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.footer__copyright {
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
}

.footer__nav {
    display: flex;
}

.footer__element {
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    line-height: 24px;
    color: #1A1B22;
}

.footer__social {
    margin-left: 42px;
    display: flex;
}

.footer__element {
    cursor: pointer;
    margin-left: 42px;
}

.footer__element:nth-child(1) {
    margin-left: 0;
}

.footer__icon {
    max-width: 22px;
    min-height: 22px;
    cursor: pointer;
    margin-left: 28px;
}

.footer__icon:nth-child(1) {
    margin-left: 0;
}

@media screen and (max-width: 1280px) {
    .footer {
        max-width: 768px;
        padding: 0 40px;
    }

    .footer__element {
        margin-left: 29px;
    }

    .footer__social {
        margin-left: 26px;
    }
}

@media screen and (max-width: 767px) { 
    .footer {
        padding: 20px 16px;
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr .5fr; 
        gap: 0px 0px; 
        grid-template-areas:
            "Links"
            "Footer";
    }
    .footer__nav {
        grid-area: Links;
        display: grid;
        grid-template-columns: 2fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas:
            "Home Social"
            "Yandex Yandex";
    }
    .footer__copyright {
        grid-area: Footer;
    }
    .footer__element {
        margin: 10px 0;
    }
    .footer__element:nth-of-type(1) {
        grid-area: Home;
    }
    .footer__element:nth-of-type(2) {
        grid-area: Yandex;
    }
    .footer__social {
        margin-left: auto;
        grid-area: Social;
    }
}