.card {
    margin: 0 auto;
    max-width: 400px;
    height: 576px;
    border-radius: 16px;
    overflow: hidden;
    background: #FFFFFF;
}

.card__image {
    width: 400px;
    height: 272px;
}

.card__content {
    height: calc(576px - 272px);
    padding: 20px 24px 24px 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__date {
    margin: 0;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
}

.card__title {
    margin: 0;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    color: #1A1B22;
}

.card__subtitle {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    color: #1A1B22;
}

.card__source {
    margin: 0;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: #B6BCBF;
}

@media screen and (max-width: 768px) {
    .card {
        max-width: 224px;
        height: 420px;
    }

    .card__image {
        width: 224px;
        height: 150px;
    }

    .card__content {
        padding: 10px 16px 16px 15px;
        height: calc(420px - 150px);
    }

    .card__title {
        font-size: 22px;
        line-height: 24px;
        -webkit-line-clamp: 3;
    }

    .card__subtitle {
        -webkit-line-clamp: 4;
    }
}